spring:
  application:
    name: user-service
  profiles:
    active: springdata

  datasource:
    url: jdbc:postgresql://localhost:5432/user_service
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public
    drop-first: false
    contexts: dev

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

server:
  port: 8080

logging:
  level:
    com.userservice: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.jdbc.core: TRACE
    liquibase: INFO