spring:
  application:
    name: user-service
  profiles:
    active: springdata

  datasource:
    url: jdbc:postgresql://localhost:5432/user_service
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public
    drop-first: false
    contexts: dev

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: true

kafka:
  topics:
    user-events: user-events-topic

notification:
  service:
    base-url: http://localhost:8081
    rest:
      enabled: true
    kafka:
      enabled: true

server:
  port: 8080

logging:
  level:
    com.userservice: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.jdbc.core: TRACE
    liquibase: INFO
